body {
  /* make padding top because of navigation bar */
  padding-top: 50px;
}

.addPaddingTop {
  padding-top: 50px;
}

/* definition for p tags in layout footer */
p.footer {
  padding-top: 30px;
  text-align: center;
}

a:hover {
  text-decoration: none;
}

:hover.changeBackground {
  background-color: #F0F0F0;
}

/* adjust placeholder text size of input box */
.filterPreparties {
  font-size: 15px;
}

/* design for content areas */
div.contentArea {
  background-color: #F0F0F0;
  padding: 10px 10px 10px 10px;
  margin: 20px 0 20px 0;
}

/* comments box design */
.commentBackground {
  background-color: #FFF;
}
.commentButton {
  padding: 0px 10px 0px 10px;
}
.commentHeader {
  margin: 5px 0 5px 0;
}
.commentAuthor {
  margin: 0 10px 0 0;
}
.commentTimestamp {
  color: #777;
}
.commentText {
  padding: 5px 5px 0 5px;
}

/* join box design */
.joinButton {
  padding: 0px 10px 0px 10px;
}
.participant {
  margin: 0 10px;
}
.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
