body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* definition for p tags in layout footer */
p.footer {
  padding-top: 30px;
  text-align: center;
}

/* adjust placeholder text size of input box */
.filterPreparties {
  font-size: 15px;
}

/* design for location elements in location list */
div.locationCard {
  height: 150px;
  margin: 0 0 20px 0;
  padding: 20px 20px 20px 20px;
  background-color: #F0F0F0;
}

.comment {
  padding-bottom: 10px;
}
.commentButton {
  padding: 0px 10px 0px 10px;
}
.panel-body.comment-container {
  padding-top: 0;
}
.comment-header {
  margin-top: 5px;
  margin-bottom: 10px;
}
.commentAuthor {
  margin: 0 10px;
}
.commentTimestamp {
  color: #777;
}
.joinButton {
  padding: 0px 10px 0px 10px;
}
.participant {
  margin: 0 10px;
}
