extends layout

block content
  .row-page-header
    .col-lg-12
      h1= pageHeader.title

  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action="", method="post", role="form")

        -if (error == "ValidationError")
          .alert.alert-danger= "Fields with a star are required"

        -if (error == "AddressError")
          .alert.alert-danger= "Address could not be resolved, please check it"

        .form-group
          label.col-xs-10.col-sm-2.control-label(for="theme") Theme *
          .col-sm-10
            input#theme.form-control(name="theme")

        .form-group
          label.col-sm-2.control-label(for="address") Address *
          .col-sm-10
            textarea#address.form-control(name="address", rows="3")

        .form-group
          label.col-xs-10.col-sm-2.control-label(for="datum") Date *
          .col-sm-10
            input#datum.form-control(name="datum")

        .form-group
          label.col-xs-10.col-sm-2.control-label(for="afterwards") Afterwards
          .col-sm-10
            input#afterwards.form-control(name="datafterwardse")

        button.btn.btn-primary.pull-right Create preparty
