// declare html5 doctype
doctype html
// create angularjs application
html(ng-app='byobApp') 

  head
    // define viewport for mobile devices with zoom 1:1
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // title of the application
    title= title
    // css stylesheets
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    nav
      // header defintion with Bootstrap Navigation Bar
      .navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            a.navbar-brand(href='/') BYOB
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
              span.icon-bar
              span.icon-bar
              span.icon-bar
          #navbar-main.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='/locationcreate') Create
              li
                a(href='/about/') About
                
    section
      .container
        block content

    footer
      p.footer This project is available on <a href='https://github.com/hoeselm/TDDD27_BYOB'>Github</a> 

    // javascript files
    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/angular/byobApp.js')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
