doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    // Header with Bootstrap Navigation Bar
    // http://getbootstrap.com/components/#navbar
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') BYOB
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/about/') About
            li
              a(href='/create/') Create              

    // Main Content
    .container
      block content

      // Footer
      footer
        .row
          .col-xs-12
            small &copy; BYOB Cooperation

  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
