extends layout

block content
  .row-page-header
    .col-lg-12
      h1 Do you want to join?
  .row
    form.form-horizontal(action="/location", method="get", fole="form")
      .col-xs-6
        button.btn.btn-warning.pull-right No
      .col-xs-6
        button.btn.btn-success Yes
