extends layout

// inject this file into layout
block content
  div(ng-controller="locationsCtrl")
  
    // header banner with info field and filter input
    #banner.page-header
      .row
        .col-xs-12.col-sm-6
          // info field
          .alert.alert-info(ng-if="locations") There are {{ filteredLocations.length }} Preparties near you! 
          .alert.alert-danger(ng-if="error") {{ error }}
        .col-xs-12.col-sm-6
          // filter input
          input(ng-if="locations", type="text", 
          placeholder='Filter Preparties', 
          class="form-control input-lg filterPreparties", 
          ng-model='filterLocations')
      
     // location list
    .row
      // loop through locations with angular directive
      .col-xs-12.col-md-6(ng-repeat="location in locations | filter : filterLocations as filteredLocations")
        // for every location create a card with information
        div.locationCard
          h3
            a(href='/location/{{ location._id }}') {{ location.theme }}
            span.badge.pull-right.badge-default(
              ng-repeat="participant in location.participants"
              ) {{ participant }}
              
          span.badge.pull-right.badge-default {{ location.distance | filterDistance }}
          p.address {{ location.address }}
          p
            span.label.label-success(ng-repeat="element in location.provided") {{ element }} &nbsp;
            span.label.label-primary(ng-repeat="element in location.required") {{ element }} &nbsp;

    hr
