<div class="modal-content">
  <form id="addComment" name="addComment" role="form"
    class="form form-horizontal">
    <div class="modal-header">
  		<h3 class="modal-title">Write a comment for {{vm.locationdata.theme}}</h3>
  	</div>
    <div class="modal-body">
      <div role="alert" ng-show="vm.formerror" class="alert alert-danger">
        {{vm.formerror}}
      </div>
      <div class="form-group">
				<div class="input-group input-group-lg">
					<span class="input-group-addon" id="basic-addon1">
						<i class="text-muted glyphicon glyphicon-flag"></i>
					</span>
					<textarea data-ng-model="vm.formdata.text"
            id="text" name="text" class="form-control"
            placeholder="Comment" rows="4"></textarea>
				</div>
			</div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" ng-click="vm.onSubmit()">Create</button>
      <button class="btn btn-warning" ng-click="vm.modal.cancel()">Cancel</button>
    </div>
  </form>
</div>
